section(class='bg-tint-blue pb-0')
 div(class='container flex items-start gap-[30px] max-xl:flex-col')
  div(class='w-1/2 max-xl:w-full')
   block logo
    a(href="./index.html" , class=('text-base text-white'))
     img(src="./assets/images/logo.png", alt="logo-finsweet" , class=('align-sub mr-[5px]') , loading="lazy")
     |Finsweet
   p(class="max-w-[400px] mt-[20px] max-xl:max-w-fit") We are always open to discuss your project and improve your online presence.
   block adress
    div(class='mt-[86px] px-[37px] bg-yellow columns-2 py-[18px] max-w-[93%] max-xl:display-none')
     h3 Email me at
     a(href='mailto:contact@website.com' class='text-[14px] text-dark-blue') contact@website.com
     h3 Call us
     a(href='tel:0927627728525' class='text-[14px] text-dark-blue') 0927 6277 28525
  div(class='max-w-[400px] max-xl:max-w-fit')
   h2 Lets Talk!
   p(class='mt-[15px]') We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.
   block list_icons
    ul(class="list_icons")
     li 
      a(href="https://www.facebook.com/#" target="_blank") 
       i(class="fa-brands fa-facebook")
     li
      a(href="https://x.com/Accueil" target="_blank") 
       i(class="fa-brands fa-twitter") 
     li 
      a(href="https://www.instagram.com/" target="_blank") 
       i(class="fa-brands fa-instagram") 
     li
      a(href="https://www.linkedin.com/company/linkd-pro" target="_blank") 
       i(class="fa-brands fa-linkedin")   
  block adress
    div(class='display-none px-[37px] bg-yellow columns-2 py-[18px] max-w-full max-xl:block')
     h3 Email me at
     a(href='mailto:contact@website.com' class='text-[14px] text-dark-blue') contact@website.com
     h3 Call us
     a(href='tel:0927627728525' class='text-[14px] text-dark-blue') 0927 6277 28525           
section(class='container py-[30px] columns-2 gap-[10px]') 
 p(class='text-dark-blue') Copyright 2024, Finsweet.com ❤ By 
  a(href="https://github.com/YassineInbach/Finsweet" target="_blank") 
   i 
    u Yassine inbach
 ul(class='flex space-x-[32px] float-right') 
   li
    a(href="./index.html") Home
   li 
    a(href="./about.html" ) About us
   li 
    a(href="./features.html" ) Features
   li 
    a(href="./pricing.html" ) Pricing
   li 
    a(href="./faq.html" ) Faq
   li  
    a(href="./blog.html" ) Blog        