div(class='container flex justify-between')
 a(href="./index.html" , class=('text-base text-white'))
  img(src="./assets/images/logo.png", alt="logo-finsweet" , class=('align-sub mr-[5px]'))
  |Finsweet  
 nav(class='flex space-x-[48px]')
  ul(class='flex space-x-[32px]') 
   li
    a(href="./index.html" , class='active') Home
   li 
    a(href="./about.html" , class='link text-grey') About us
   li 
    a(href="./features.html" , class='link text-grey') Features
   li 
    a(href="" , class='link text-grey') Pricing
   li 
    a(href="" , class='link text-grey') Faq
   li  
    a(href="" , class='link text-grey') Blog
  a(href="" , class=('btn')) Contact us   