div(class='container flex justify-between 2xl:flex-wrap md:!justify-between 2xl:justify-center')
 block logo
  a(href="./index.html" , class=('text-base text-white'))
   img(src="./assets/images/logo.png", alt="logo-finsweet" , class=('align-sub mr-[5px]') , loading="lazy")
   |Finsweet  
 nav(id="menu" , class='navigation md:display-none flex gap-x-[48px]')
  ul(class='flex gap-x-[32px]') 
   li
    a(href="./index.html" , class='link active') Home
   li 
    a(href="./about.html" , class='link') About us
   li 
    a(href="./features.html" , class='link') Features
   li 
    a(href="./pricing.html" , class='link') Pricing
   li 
    a(href="./faq.html" , class='link') Faq
   li  
    a(href="./blog.html" , class='link') Blog
  a(href="./contact.html" , class='btn') Contact us   
 button(class='toggle display-none bg-transparent z-10 md:absolute md:right-[20px] md:block') 
  img(src="./assets/images/bars-solid.svg", alt="img-bars" , id='icon' , class='w-[40px]') 