/* Importation de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Importation de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définition des styles de base */
@layer base {
   @import './base/reset';
   @import './base/typography';
   section{
      @apply py-[100px];
   }
}

/* Définition des styles de composants */
@layer components {
  /* Classe utilitaire pour les styles communs */
.common-after {
   content: "";
   @apply absolute bg-yellow bottom-[-12px] h-[6px] w-[6px] left-[50%];
   transform: translate(-50%, 0) rotate(45deg);
 }
 
 /* Styles pour les liens */
 .link {
   @apply text-grey transition-opacity duration-500 ease-in-out;
   &:hover{
      @apply text-yellow;
   }
 }
 
 /* Styles pour les éléments actifs */
 .active {
   @apply relative;
   color: theme('colors.yellow') !important;
   &::after {
     @extend .common-after;
   }
 }

   /* Styles pour les boutons */
   .btn {
      @apply text-xs text-dark-blue bg-yellow rounded-[30px];
      padding-left: clamp(24px , 5.5vw , 48px);
      padding-right: clamp(24px , 5.5vw , 48px);
      padding-top: clamp(8px , 1.83vw , 16px);
      padding-bottom: clamp(8px , 1.83vw , 16px);
   }

   /* Styles pour les conteneurs */
   .container {
      @apply max-w-[1280px] w-full mx-auto;

      /* Media-query pour les écrans de largeur inférieure à 1290px */
      @media screen and (max-width: 1290px) {
         @apply px-[20px];
      }
   }

   /* Styles pour la disposition flex */
   .flex {
      display: flex;
      align-items: center;
   }

   /* Styles pour la justification entre les éléments */
   .justify-between {
      justify-content: space-between;
   }

   /*Styles navigation Menu*/
   .navigation{
      @apply md:absolute md:inset-0 md:flex-col md:justify-center
       md:h-[100vh] md:w-full bg-tint-blue md:gap-y-[35px] z-10;
      ul{
         @apply md:flex-col md:gap-y-[35px];
      } 
   }

   /*Styles hero-section__img */
   .hero-section__img{
      @apply w-[45%] md:w-clamp md:w-full;
   }

   /* Styles title_before */
   .title_before::before{
     @apply block text-xs leading-[35px];
     content: attr(data-content);
    }

    /*Styles cards features*/
    .features-list{
      @apply flex justify-center mt-[45px] flex-wrap gap-7;
      .features-list_item{
         @apply px-[25px] py-[35px];
         flex: 1 1 320px;
         &:hover{
            cursor: pointer;
            border:2px solid theme('colors.royal-blue');
            transition: border 0.2s ease;
         }
         img{
            @apply mb-[15px];
         }
         p{
            @apply mt-[15px];
         }
      }
    }

/*Styles button Prev / Next */
.btn-click{
   @apply absolute right-0 top-[61%] 3xl:top-auto 3xl:right-1
    sm:position-inherit sm:inset-0 sm:mx-auto;
}
/* ALL button slick / Prev / Next */ 
button{
   @apply px-[14px] py-[8px];
   border: 0;
   &.slick-prev{
      @apply mr-[16px];
   }
   &.slick-next{
      @apply bg-royal-blue;
   }
   img{
      @apply w-[10px];
   }
}

/* Styles section-modulable */
.section-content{
   @apply max-w-[624px];
   
   h2{
      @apply text-2xl;
   }

   p{
      @apply mt-[10px];
   }
}

/* Styles multiple-items carousel */
.multiple-items{
      .slick-track{
         @apply flex justify-center space-x-8;
      li{
         @apply text-center bg-white px-[64px] py-[48px] ;
      }
   
      img{
         @apply inline w-[60%]  mb-2;
      }
   
      h3{
         @apply font-semibold
      }
   
      h4{
         @apply text-xs font-light;
      }
   }
}

/* Styles for cards_plan */
.cards_plan {
   article {
     @apply px-[48px] py-[64px] rounded-lg;
     h4{
      @apply text-3xl;
      &::after{
         @apply text-royal-blue text-xs font-normal ml-3 align-super;
         content: attr(data-content);
      }
     }
     ul {
       @apply mb-[50px];
 
       li {
         @apply leading-[35px];
 
         &::before {
           @apply mr-[15px] align-sub;
           content: url("../images/pointer.png");
         }
       }
     }
 
     .btn {
       @apply flex mx-auto;
     }
   }
 
   /* First and Last articles */
   & > :first-child,
   & > :last-child {
      @apply bg-grey;
 
     .btn {
      @apply text-grey bg-dark-blue;
     }
   }
 
   /* Specific styles for the first article */
   & > :first-child {
     ul {
       @apply mt-[78px];
     }
   }
 
   /* Specific styles for the second article */
   & > :nth-child(2) {
     @apply bg-[#1C1E53];
     h4{
      &::after{
         @apply text-yellow;
      }
     }
 
     h4,
     h3,
     li,
     p {
       @apply text-white;
     }
 
     ul {
      @apply mt-[54px];
     }
   }
 
   /* Specific styles for the last article */
   & > :last-child {
     ul {
       @apply mt-[39px];
     }
   }
 }

 /* Styles form_container */
 .form_container{
   @apply mt-[64px] p-clamp max-w-[1000px] mx-auto bg-grey rounded-3xl;
   ul{
      &>:last-child{
         @apply flex-auto;
      }
      .form_list-item{
         @apply grid gap-y-2;
         flex:1 1 300px;
         .form_label{
            &::after{
               content: "*";
               @apply text-sm text-tint-blue align-middle ml-2;
            }
            @apply text-xs  text-dark-blue font-medium;
         }
         .form_input{   
            @apply py-[16px] px-3 rounded-md border border-tint-blue;
         }
      }
   }
   .btn{
      @apply text-grey bg-tint-blue ; 
   }
 }

 /*Styles accordion_detail & suammry_after*/
  .accordion_details{
   @apply mb-[26px] pb-1;
   border-bottom: 2px solid #ECECF1 ;
   &:first-child{
      summary > div {
         h3{
           @apply ml-[5px];
         }
      }
   }
   &:last-child{
      @apply border-none;
   }
   .summary_after::after{
      content: url("../images/plus.png");
    }
   .summary_after.open::after{
      content: url("../images/close.png");
   }
  }

  /*Styles icons*/
  .list_icons{
   @apply flex justify-center gap-x-6 mt-[32px];
   li > a >  i{
      @apply text-base;
   }
  }

  .menu_active{
   @apply text-sm font-semibold relative text-royal-blue;
   &:after{
      content:"";
      @apply absolute left-0 w-[100%] bottom-0 h-[2px] bg-royal-blue;
   }
  }
  
  /*style-gallerie_works*/
  .style-gallerie_works{
   @apply grid mt-[48px] gap-x-[30px] gap-y-[45px] ;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  } 

  /*styles footer*/
  footer{
   h2{
      @apply text-white;
   }
   h3{
      @apply text-sm font-medium mb-1;
   }
   p{
      @apply text-accent font-light;
   }
   .list_icons{
      @apply justify-start;
      & > li > a{
         @apply text-white;
      }
   }
    
  }
} 

@layer utilities{
   .display-none{
      display: none;
   }
   .text-base{
      font-size: clamp(23px ,  2.59vw, theme('fontSize.base'));
   }
   .text-2xl{
      font-size: clamp(19px , 4vw , theme('fontSize.2xl'));
   }
   .py-clamp{
      --padding-clamp: clamp(43px, 3.7vw, 86px);
      padding-left: var(--padding-clamp);
      padding-right: var(--padding-clamp);
   }
   .p-clamp{
      padding: clamp(27.5px, 10vw, 55px);
   }
   .pt-clamp{
      padding-top: clamp(48px, 8.7vw, 96px);
   }
   .space-x-clamp{
      column-gap : clamp(5px , 5vw , 10px)
   }
   .px-clamp{  
      padding-left: clamp(35px , 5.18vw, 70px);
      padding-right: clamp(35px , 5.18vw, 70px);
   }
   .pb-clamp{
      padding-bottom: clamp(40px, 9.35vw, 80px);
   }
   .bottom-40{
      bottom:clamp(20px , 8vw , 40px);
   }
   .px-30{  
      padding-left: clamp(15px , 6vw, 30px);
      padding-right: clamp(15px , 6vw, 30px);
   }
   .position-inherit {
      position: inherit;
    }
    .b-solid{
      border-bottom: 1px solid theme('colors.accent');
    }
}