/* Importation de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Importation de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définition des styles de base */
@layer base {
   @import './base/reset';
   @import './base/typography';
   section{
      @apply py-[100px];
   }
}

/* Définition des styles de composants */
@layer components {
  /* Classe utilitaire pour les styles communs */
.common-after {
   content: "";
   position: absolute;
   background-color: theme("colors.yellow");
   bottom: -12px;
   height: 6px;
   width: 6px;
   left: 50%;
   transform: translate(-50%, 0) rotate(45deg);
 }
 
 /* Styles pour les liens */
 .link {
   position: relative;
 
   &::after {
     @extend .common-after;
     opacity: 0;
     transition: opacity 0.5s ease;
   }
 
   &:hover::after {
     opacity: 1;
   }
 
   &:hover {
     color: theme('colors.yellow');
     transition: color 0.5s linear;
   }
 }
 
 /* Styles pour les éléments actifs */
 .active {
   @apply relative text-yellow;
 
   &::after {
     @extend .common-after;
   }
 }

   /* Styles pour les boutons */
   .btn {
      color: theme('colors.dark-blue');
      background-color: theme('colors.yellow');
      padding: 16px 48px;
      border-radius: 30px;
   }

   /* Styles pour les conteneurs */
   .container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;

      /* Media-query pour les écrans de largeur inférieure à 1290px */
      @media screen and (max-width: 1290px) {
         @apply px-[20px];
      }
   }

   /* Styles pour la disposition flex */
   .flex {
      display: flex;
      align-items: center;
   }

   /* Styles pour la justification entre les éléments */
   .justify-between {
      justify-content: space-between;
   }

   /*Styles hero-section__img */
   .hero-section__img{
      @apply w-[45%];
   }

   /* Styles title_before */
   .title_before::before{
     @apply block  text-xs;
     content: attr(data-content);
     line-height: 35px;
    }

    /*Styles cards features*/
    .features-list{
      @apply flex justify-center mt-[45px] flex-wrap gap-7;
      .features-list_item{
         @apply px-[25px] py-[35px] max-w-[405px];
         flex: 1 1 320px;
         &:hover{
            cursor: pointer;
            border:2px solid theme('colors.royal-blue');
            transition: border 0.2s ease;
         }
         img{
            @apply mb-[15px];
         }
         p{
            @apply mt-[15px];
         }
      }
    }

/*Styles button Prev / Next */
.btn-click{
   position: absolute;
   right: 8px;
   top: 59%;
}
/* ALL button slick / Prev / Next */ 
button{
   padding: 8px 14px;
   border: 0;
   &.slick-prev{
      margin-right: 16px;
   }
   &.slick-next{
      background-color: theme('colors.royal-blue');
   }
   img{
      width: 10px;
   }
}

/* Styles section-modulable */
.section-content{
   @apply max-w-[624px];
   
   h2{
      @apply text-xl;
   }

   p{
      @apply mt-[10px];
   }
}

/* Styles multiple-items carousel */
.multiple-items{
   .slick-track{
      @apply flex gap-10;
   li{
      @apply text-center bg-white p-[48px] ;
   }

   img{
      @apply inline w-[60%]  mb-2;
   }

   h3{
      @apply font-semibold
   }

   h4{
      @apply text-xs font-light;
   }
}
}

/* Styles for cards_plan */
.cards_plan {
   article {
     @apply px-[48px] py-[64px] rounded-lg;
     h2{
      &::after{
         @apply text-xs font-normal ml-3 align-top;
         color:theme('colors.royal-blue');
         content: attr(data-content);
      }
     }
     ul {
       @apply mb-[50px];
 
       li {
         @apply leading-[35px];
 
         &::before {
           @apply mr-[15px] align-sub;
           content: url("../images/pointer.png");
         }
       }
     }
 
     .btn {
       @apply flex mx-auto;
     }
   }
 
   /* First and Last articles */
   & > :first-child,
   & > :last-child {
     background-color: theme('colors.grey');
 
     .btn {
       background-color: theme('colors.dark-blue');
       a{
         color: theme('colors.grey');
       }
     }
   }
 
   /* Specific styles for the first article */
   & > :first-child {
     ul {
       @apply mt-[78px];
     }
   }
 
   /* Specific styles for the second article */
   & > :nth-child(2) {
     @apply bg-[#1C1E53];
     h2{
      &::after{
         color:theme('colors.yellow');
      }
     }
 
     h2,
     h3,
     li,
     p {
       @apply text-white;
     }
 
     ul {
       margin-top: 53px;
     }
   }
 
   /* Specific styles for the last article */
   & > :last-child {
     ul {
       @apply mt-[39px];
     }
   }
 }
} 