h1{
     @apply font-semibold;
     font-size: clamp(27px ,4.2vw , theme('fontSize.4xl'));
     line-height: clamp(32.5px , 5vw, 65px);
}

h2{
    @apply text-dark-blue leading-[55px] font-semibold;
    font-size: clamp(24px , 4.39vw , theme('fontSize.3xl'));
    line-height: clamp(27.5px ,5vw  , 55px)
}

h3{
    @apply text-dark-blue;
}
a{
    @apply text-dark-blue no-underline font-medium;
}

p{
    @apply text-clamp text-dark-blue ;
}

li{
    @apply list-none;
}