h1{
    font-size: theme('fontSize.4xl');
    line-height: 65px;
    font-weight: 600;
}

h2{
    font-size: theme('fontSize.3xl');
    line-height: 55px;
    font-weight: 600;
    color: theme('colors.dark-blue');
}

h3{
    color: theme('colors.dark-blue');
}
a{
    text-decoration: none;
    font-weight: 500;
    color: theme('colors.dark-blue');
}

p{
    color: theme('colors.dark-blue');
}

li{
    list-style: none;
}