//- 404.pug

block title 
  title Not Found 
link(rel="stylesheet", href="./assets/css/style.css")
main 
 section(class='flex h-[100vh] flex-col justify-center')
  img(src="./assets/images/404.png", alt="Error-404")
  h2(class="my-11") Ooops!...Page not found.
  a.btn(href="/") GO BACK HOME 
