doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
         title Finsweet
        link(rel="stylesheet", href="./assets/css/style.css")
        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css") 
        script(src='https://kit.fontawesome.com/04a76b9a09.js', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        script(src="./assets/js/main.js" defer)

    body
    
     header(class='bg-tint-blue py-[34px]')
      include ../includes/header

     main 
      block content 


     footer
      include ../includes/footer