//- work.pug
extends layout.pug 

block title 
 title Finsweet-work

block content 
 section
  block section__contenu
   div(class='mx-auto max-w-[733px] text-center')
    span What we created
    h1(class='mb-[16px]') Our Work Portfolio
    p We help teams create great digital products by providing them with tools and technology to make the design-to-code process universally accessible.
    ul(class="list_icons")
     li 
      a(href="https://www.facebook.com/#" target="_blank") 
       i(class="fa-brands fa-facebook")
     li
      a(href="https://x.com/Accueil" target="_blank") 
       i(class="fa-brands fa-twitter") 
     li 
      a(href="https://www.instagram.com/" target="_blank") 
       i(class="fa-brands fa-instagram") 
     li
      a(href="https://www.linkedin.com/company/linkd-pro" target="_blank") 
       i(class="fa-brands fa-linkedin") 